<div style="text-align:center">
  <h1>
    TDG Product Dev Task
  </h1>
</div>
<div class="studentForm">
    <label>{{selectedStudent.StudentID == 0 ? "Insert Response":"Update Student"}}</label><br/>
  <input [(ngModel)]="selectedStudent.id" class="textBox" placeholder="id" required><br/>
  <input [(ngModel)]="selectedStudent.Response" class="textBox" placeholder="Response" required><br/>
  <button (click)="AddorEdit()" class="btnsubmit">Submit</button>
  <button *ngIf="selectedStudent.StudentID!=0" (click)="Delete()" class="btndelete">Delete</button>
</div>
<ul class="studentList">
<li *ngFor="let student of StudentCollection" (click)="OPenForEdit(student)" [class.selected]="student==selectedStudent">
<span class="badge">{{student.StudentID}}</span>{{student.id}} - {{student.Response}}
</li>
</ul>
                        
